.chatMessage {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    border: 2px solid #0b6f97;
    border-radius: 15px;
    margin: 2px;
    padding: 10px;
}

.userMessage {
    align-self: flex-end;
    background-color: #5991A1;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: 3%;
    width: fit-content;
    margin-top: 20px;
}

.assistantMessage {
    align-self: flex-start;
    margin-right: auto;
    margin-left: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #004258;
    color: rgb(255, 255, 255);
    width: fit-content;
    
}

.messageText {
    font-weight: normal;
    margin-bottom: 2px;
    margin-top: 2px;
    font-family: "source-sans-3-variable";
    font-variation-settings: "wght" 200;
}

.messageSender {
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    font-family: sans-serif;
}